html {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
  font-size: 16px;
  background-color: white;
  display: flex;
  justify-content: center;  
}

#intro {
  font-style: italic;
  align-content: center;
  flex-direction: row;
}


#main {
  align-content: flex-start;
}


