html {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
  font-size: 16px;
  background-color: white;
  display: flex;
  justify-content: center;  
}

#intro {
  font-style: italic;
  align-content: center;
  flex-direction: row;
}


#main {
  align-content: flex-start;
}

nav {
text-decoration: none;
text-transform: uppercase;
flex-direction: column;
}

li {
padding: 10px;
display: flex;
flex-direction: row;
}

h1, h6 {
  font-style: italic;
}

p {
  text-align: justify;
  line-height: 2;
}

section > article {
  border-color: #CCCCCC;
  border-width: 2px;
  border-style: dotted;
  text-align: left;
  padding: 1%;
  display: inline-block;
}

footer > section:first-child {
  border-color: #CCCCCC;
  border-width: 2px;
  border-style: dotted;
  display: inline-block;
}

form:hover {
  color: green;
  width: 50%;
  display: inline;
}


